NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/easygenerator_assessment
JWT_ACCESS_SECRET=replace-with-a-random-secret-at-least-32-characters
JWT_ACCESS_EXPIRES_IN=15m
FRONTEND_URL=http://localhost:5173
